button {
  width: 200px;
  font-size: 15px;
  margin: 8px;
  padding: 3px;
}
hr {
  size: 2px;
  width: 95%;
  color: black;
}
.app {
  margin: 2px;
  text-align: center;
}
.contents {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  border: 2px solid black;
  padding: 15px;
}
.form-page .contents {
  visibility: visible;
}
#increment-button {
  margin-top: 5px;
  margin-bottom: 15px;
}

.form-element {
  margin: 8px;
  text-align: left;
}

.contents h2 {
  text-align: center;
}
